extends layout

block content
  .navbar.navbar-default(role="navigation", ng-controller="userCtrl")
    .navbar-header
      a.navbar-brand(href="#") Twont!

    .collapse.navbar-collapse
      form.navbar-form.navbar-right
        label Signed in as:&nbsp;
        .form-group
          input.form-control(type="text", placeholder="Your name", ng-model="user.name")

  .row
    .col-md-4(ng-controller="inboxCtrl")
      .tweet-item(
        ng-repeat="tweet in tweets | orderBy:'-created_at'",
        ng-click="select(tweet)",
        ng-class="{active: tweet.selected}"
      )
        small.pull-right(pretty-time="tweet.created_at")
        h4 @{{tweet.user.screen_name}}
        span.badge.pull-right(ng-if="tweet.nb_comments > 0") {{tweet.nb_comments}}
        p {{tweet.text}}
    .col-md-8(ng-controller="tweetCtrl")
      div(ng-if="!!tweet")
        blockquote
          p {{tweet.text}}
          small @{{tweet.user.screen_name}}
        div(ng-repeat="comment in comments | orderBy:'date'")
          strong: {{comment.author.name}}:&nbsp;
          span {{comment.body}}
          small.pull-right(pretty-time="comment.date")
        form.add-comment(ng-submit="sendComment();")
          button.btn.btn-default.pull-right(type="submit") Send
          .input-wrapper
            input.form-control(type="text", ng-model="comment.body", placeholder="Type your comment here")
