doctype html
html(ng-app="app")
  head
    title Twont!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/twont.js")
  body
    .container
      block content